.profile__edit-button {
  width: 24px;
  height: 24px;
  box-sizing: border-box;
  border: 1px solid #fff;
  background-image: url(../../../images/edit.svg);
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  right: 0;
  top: 14px;
}
