.profile__user-info {
  margin: 7px 0 0;
  font-size: 18px;
  line-height: 1.22;
}

@media screen and (max-width: 880px) {
  .profile__user-info {
    text-align: center;
  }
}

@media screen and (max-width: 440px) {
  .profile__user-info {
    font-size: 14px;
    line-height: 1.21;
    margin-top: 8px;
  }
}
